a#logo.navbar-brand.navbar-link{
  background-image:url("name_png.png");
  background-repeat:no-repeat;
  background-size:contain;
  width:100%;
  height:50%;
}

.mynav{
  background:transparent;
  border:0px;
  height:85px;
  width:60%;
  border-bottom:2px solid #1976D2;
  position:fixed;
  z-index:20;
  top:0%;
  left:50%;
  margin-left:-30%;
  transition:all .6s ease;
}

div.hero_image{
  background-image:url("../../assets/img/Graphic-Design-background-edited-2.png");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:120vh;
  width:100%;
}

div.contact_div{
  height:20vh;
  width:100%;
  text-align:center;
  display:flex;
  align-content:flex-start;
  align-self:baseline;
  padding:0px;
  position:relative;
}

div.portfolio_div{
  height:20vh;
  width:100%;
  text-align:center;
  display:flex;
  align-content:flex-start;
  align-self:baseline;
  padding:0px;
  position:relative;
  top:-20vh;
}

div.about_div{
  height:20vh;
  width:100%;
  text-align:center;
  display:flex;
  align-content:flex-start;
  align-self:baseline;
  padding:0px;
  position:relative;
  top:-20vh;
}

div.hero_overlay{
  height:120vh;
  width:100%;
  background:rgba(0,0,0,0.75);
  position:relative;
  padding:20px;
}

a.navbar-brand.text-uppercase.navbar-link.logo{
  font-family:'Alex Brush';
}

a.navbar-brand.navbar-link.logo{
  font-family:'Alex Brush';
  padding:20px;
  font-size:5vh;
  color:#fff;
  font-weight:lighter;
}

ul.nav.navbar-nav.navbar-right.mytabs{
  color:#fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  border-bottom:2px solid #fff;
}

.navbar-default .navbar-nav > li > a{
  color:#fff;
  font-family:'Cormorant Unicase';
  font-weight:lighter;
  font-style:normal;
  font-variant:normal;
  font-size:2.5vh;
  letter-spacing:1px;
}

.nav{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  margin-right:2px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  color:#000;
  background-color:#fff;
  border:2px solid #000;
}

div.quote_div{
  height:20vh;
  margin-bottom:100px;
  top:45%;
  position:relative;
  text-align:center;
  font-family:'Alex Brush';
  color:#fff;
}

small{
  font-size:1.5em;
  font-family:'EB Garamond';
  padding-top:0px;
  margin-top:0px;
  margin-bottom:20px;
}

div.portfolio{
  height:340vh;
  width:100%;
  display:flex;
  flex-direction:column;
  align-content:center;
  align-items:center;
  justify-content:center;
  z-index:-1;
}

div.about{
  height:180vh;
  width:100%;
  display:flex;
  background-image:url("../../assets/img/slider-background-1.jpg");
  background-attachment:fixed;
  background-size:cover;
  flex-direction:column;
  align-content:center;
  align-items:center;
  justify-content:center;
}

h1#contact_heading{
  color:#000;
  position:relative;
  font-family:'Open Sans Condensed';
  letter-spacing:5px;
  font-size:7em;
  top:13%;
  left:6%;
}

h1#portfolio_heading{
  color:#fff;
  position:relative;
  font-family:'Open Sans Condensed';
  letter-spacing:5px;
  font-size:7em;
  top:13%;
  left:6%;
}

h1#about_heading{
  color:#fff;
  position:relative;
  font-family:'Open Sans Condensed';
  letter-spacing:5px;
  font-size:7em;
  top:13%;
  left:6%;
}

h1#first_l{
  font-size:2.5em;
  margin-bottom:0px;
  padding-bottom:0px;
}

h1#next_l{
  font-size:3.5em;
  margin-top:0px;
  padding-top:0px;
  margin-bottom:0px;
}

div#pic_colmn.col-lg-4.col-md-4.col-sm-4.col-xs-4{
  margin-left:0px;
  margin-right:0px;
}

div#TL_colmn.col-lg-8.col-md-8.col-sm-8.col-xs-8{
  margin-left:0px;
  margin-right:0px;
}

div.photo_div{
  background-image:url("name1_png.png");
  width:100%;
  height:30%;
  background-position:0px 0px;
  background-size:auto 100%;
  position:fixed;
  background-repeat:no-repeat;
  border:2px solid;
  border-radius:50%;
}

img{
  background-image:url("name1_png.png");
  width:100%;
  height:30%;
}

@media (max-width:991px) {
  div.photo{
    background-image:url("photo.png");
    height:200px;
    width:100%;
    background-repeat:no-repeat;
    background-size:auto 100%;
    margin-top:50%;
    position:relative;
    top:200px;
    left:0px;
    display:none;
    background-position:0%;
  }
}

@media (max-width:767px) {
  div.photo{
    background-image:url("photo.png");
    height:100px;
    width:100%;
    background-repeat:no-repeat;
    background-size:auto 100%;
    margin-top:50%;
    position:relative;
    top:200px;
    left:0px;
    display:none;
    background-position:0%;
  }
}

div.photo{
  background-image:url("photo.png");
  height:300px;
  width:100%;
  background-repeat:no-repeat;
  background-size:auto 100%;
  margin-top:50%;
  position:relative;
  top:200px;
  left:0px;
  display:none;
  background-position:0%;
}

.row{
  margin-right:-15px;
  margin-left:-15px;
}

div.design_block{
  height:80vh;
  width:80%;
  background-image:url("../../assets/img/content_back.svg");
  background-repeat:no-repeat;
  background-size:100% 135%;
  background-color:rgba(255,255,255,.75);
  background-position:100% 50%;
  display:flex;
  position:relative;
  box-shadow:3px 3px 1px;
}

div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.content_block{
  display:flex;
  height:120vh;
  align-items:center;
}

div.content_box{
  height:50%;
  width:40%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  border-radius:50px;
  overflow:hidden;
  z-index:1;
  background-color:transparent;
  background-image:url("../../assets/img/Untitled-3.png");
  background-repeat:no-repeat;
  background-size:50% 100%;
  background-position:100%; /*100%*/
  transition:all .5s ease;
}

.hex{
  position:relative;
  width:70px;
  height:121.24px;
  z-index:1;
  color:#fff;
  background-color:rgba(52,152,219,1);
  margin:5px 60px;
}

.hex:after, .hex:before{
  border-bottom:60.6px solid transparent;
  border-top:60.6px solid transparent;
  content:"";
  position:absolute;
  right:0;
  z-index:-1;
}

.hex:before{
  right:70px;
  border-left:35px solid transparent;
  border-right:35px solid rgba(52,152,219,1);
}

.hex:after{
  right:-70px;
  border-left:35px solid rgba(52,152,219,1);
  border-right:35px solid transparent;
}

.hex1{
  position:absolute;
  top:40px;
  left:140px;
}

div.hex.hex2{
  margin-left:-250px;
  margin-top:110px;
}

div.hex.hex3{
  margin-left:-130px;
  margin-top:250px;
}

div.hex.hex4{
  margin-left:-10px;
  margin-top:320px;
}

div.hex.hex5{
  right:-40%;
  margin-top:40px;
}

div.hex5{
  position:absolute;
  top:40px;
  right:140px;
}

div.hex6{
  position:absolute;
  top:110px;
  right:20px;
}

div.hex7{
  position:absolute;
  top:250px;
  right:20px;
}

div.hex8{
  position:absolute;
  top:320px;
  right:140px;
}

div.hex2{
  position:absolute;
  top:110px;
  left:20px;
}

div.hex3{
  position:absolute;
  top:250px;
  left:20px;
}

div.hex4{
  position:absolute;
  top:320px;
  left:140px;
}

div.hex.hex1_color{
  background-color:#651FFF;
  background-image:url("../../assets/img/java.svg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:50% 50%;
}

div.hex.hex1_color:after{
  border-left-color:#651FFF;
}

div.hex.hex1_color:before{
  border-right-color:#651FFF;
}

div.hex.hex2_color{
  background-color:#3D5AFE;
  background-image:url("../../assets/img/database.svg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:50% 50%;
}

div.hex.hex2_color:after{
  border-left-color:#3D5AFE;
}

div.hex.hex2_color:before{
  border-right-color:#3D5AFE;
}

div.hex.hex3_color{
  background-color:#00B0FF;
  background-image:url("../../assets/img/android.svg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:50% 50%;
}

div.hex.hex3_color:after{
  border-left-color:#00B0FF;
}

div.hex.hex3_color:before{
  border-right-color:#00B0FF;
}

div.hex.hex4_color{
  background-color:#00E5FF;
  background-image:url("../../assets/img/pwa.svg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:50% 50%;
}

div.hex.hex4_color:after{
  border-left-color:#00E5FF;
}

div.hex.hex4_color:before{
  border-right-color:#00E5FF;
}

div.hex.hex5_color{
  background-color:#00B0FF;
  background-image:url("../../assets/img/web dev.svg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:50% 50%;
}

div.hex.hex5_color:after{
  border-left-color:#00B0FF;
}

div.hex.hex5_color:before{
  border-right-color:#00B0FF;
}

div.hex.hex6_color{
  background-color:#2979FF;
  background-image:url("../../assets/img/logo.svg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:50% 50%;
}

div.hex.hex6_color:after{
  border-left-color:#2979FF;
}

div.hex.hex6_color:before{
  border-right-color:#2979FF;
}

div.hex.hex7_color{
  background-color:#3D5AFE;
  background-image:url("../../assets/img/graphic.svg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:50% 50%;
}


div.hex.hex7_color:after{
  border-left-color:#3D5AFE;
}

div.hex.hex7_color:before{
  border-right-color:#3D5AFE;
}

div.hex.hex8_color{
  background-color:#651FFF;
  background-image:url("../../assets/img/AngularJS-Shield.svg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:50% 50%;
}

div.hex.hex8_color:after{
  border-left-color:#651FFF;
}

div.hex.hex8_color:before{
  border-right-color:#651FFF;
}

div.overlay{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  transition:.5s ease;
}

div.name_div{
  position:absolute;
  height:100%;
  width:100%;
  background-image:url("../../assets/img/name.svg");
  background-repeat:no-repeat;
  background-size:50% 100%;
  background-position:0%;
  opacity:1;
}

div#quote{
  background-color:red;
  background-image:url("../../assets/img/quote.png");
  background-size:cover;
  height:468.8px;
  width:539.6px;
  position:fixed;
  top:3500px;
  right:5%;
  z-index:3;
  box-shadow:3px 3px 8px #000;
}

div#pikachu1{
  background-image:url("../../assets/img/pikachu1.png");
  background-size:100% 100%;
  background-repeat:no-repeat;
  height:40%;
  width:100%;
  position:absolute;
  z-index:5;
  top:30%;
  left:-10%;
  transition:.3s ease;
  box-shadow:3px 3px 8px #000;
}

div#ishop3{
  background-image:url("../../assets/img/ishop3.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:308px;
  width:402px;
  position:absolute;
  background-position:center;
  z-index:4;
  left:30%;
  top:30%;
  box-shadow:3px 3px 8px #000;
}

div#ishop2{
  background-image:url("../../assets/img/ishop2.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:308px;
  width:402px;
  position:absolute;
  background-position:center;
  z-index:5;
  left:15%;
  top:15%;
  box-shadow:3px 3px 8px #000;
}

div#design1_3{
  background-image:url("../../assets/img/Infinity logo 1.svg");
  background-size:cover;
  background-repeat:no-repeat;
  height:320px;
  width:509px;
  position:absolute;
  background-position:center;
  z-index:6;
  left:30%;
  top:30%;
  box-shadow:3px 3px 8px #000;
}

div#design1_2{
  background-image:url("../../assets/img/MEDS-01.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:320px;
  width:509px;
  position:absolute;
  background-position:center;
  z-index:5;
  left:15%;
  top:15%;
  box-shadow:3px 3px 8px #000;
}

div#design2_4{
  background-image:url("../../assets/img/Tshirt1.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:320px;
  width:509px;
  position:absolute;
  background-position:center;
  z-index:7;
  top:45%;
  left:45%;
}

div#design2_3{
  background-image:url("../../assets/img/coders.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:320px;
  width:509px;
  position:absolute;
  background-position:center;
  z-index:6;
  top:30%;
  left:30%;
  box-shadow:3px 3px 8px #000;
}

div#design2_2{
  background-image:url("../../assets/img/it.svg");
  background-size:cover;
  background-repeat:no-repeat;
  height:320px;
  width:509px;
  position:absolute;
  background-position:center;
  z-index:5;
  top:15%;
  left:15%;
  box-shadow:3px 3px 8px #000;
}

div#fccCertificate{
  background-image:url("../../assets/img/Prateek's Front End Certificate.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:400px;
  width:500px;
  position:absolute;
  background-position:center;
  z-index:4;
  box-shadow:3px 3px 8px #000;
}

div#udemyCertificate{
  background-image:url("../../assets/img/Prateek Mean Stack Certificate.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:370px;
  width:500px;
  position:absolute;
  background-position:center;
  z-index:4;
  box-shadow:3px 3px 8px #000;
}

div#design2_1{
  background-image:url("../../assets/img/Tshirt2.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:320px;
  width:509px;
  position:absolute;
  background-position:center;
  z-index:4;
}

div#android2{
  background-image:url("../../assets/img/Screenshot_2018-01-04-20-01-17-337_com.example.admin.justjavaintend.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:426.6px;
  width:240px;
  position:absolute;
  background-position:center;
  z-index:5;
  top:15%;
  left:15%;
  box-shadow:3px 3px 8px #000;
}

div#android1{
  background-image:url("../../assets/img/Screenshot_2018-01-04-20-01-23-613_com.example.admin.court_counter.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:426.6px;
  width:240px;
  position:absolute;
  background-position:center;
  z-index:4;
  box-shadow:3px 3px 8px #000;
}

div#android1{
  background-image:url("../../assets/img/Screenshot_2018-01-04-20-01-23-613_com.example.admin.court_counter.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:426.6px;
  width:240px;
  position:absolute;
  background-position:center;
  z-index:4;
}

div#design1_1{
  background-image:url("../../assets/img/Toopers_logo.jpeg");
  background-size:cover;
  background-repeat:no-repeat;
  height:320px;
  width:509px;
  position:absolute;
  background-position:center;
  z-index:4;
  box-shadow:3px 3px 8px #000;
}

div#ishop1{
  background-image:url("../../assets/img/ishop1.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:308px;
  width:402px;
  position:absolute;
  background-position:center;
  z-index:6;
  box-shadow:3px 3px 8px #000;
}

div#pikachu2{
  background-image:url("../../assets/img/pikachu.png");
  background-size:cover;
  background-repeat:no-repeat;
  height:381px;
  width:441px;
  position:relative;
  background-position:center;
  z-index:4;
  transition:.3s ease;
  box-shadow:3px 3px 8px #000;
}

div#design2{
  background-size:cover;
  height:308px;
  width:580px;
  position:fixed;
  top:5500px;
  right:15%;
  z-index:4;
}

div#ishop{
  background-size:cover;
  height:308px;
  width:580px;
  position:fixed;
  top:4500px;
  right:5%;
  z-index:4;
}

div#android{
  background-size:cover;
  height:381.6px;
  width:580px;
  position:fixed;
  top:6000px;
  left:5%;
  z-index:3;
}

div#certificate{
  background-size:cover;
  height:381.6px;
  width:580px;
  position:fixed;
  top:6500px;
  right:5%;
  z-index:3;
}

div#certificate2{
   height:251.6px;
  width:546.4px;
  position:fixed;
  top:3000px;
  left:5%;
  z-index:3;

}

div#design1{
  background-size:cover;
  height:381.6px;
  width:580px;
  position:fixed;
  top:5000px;
  left:5%;
  z-index:3;
}

div#pikachu{
  background-size:cover;
  height:381.6px;
  width:550px;
  position:fixed;
  top:4000px;
  left:5%;
  z-index:3;
}


div#simon{
  background-color:red;
  background-image:url("../../assets/img/simon.png");
  background-size:cover;
  height:251.6px;
  width:546.4px;
  position:fixed;
  top:3000px;
  left:5%;
  z-index:3;
  box-shadow:3px 3px 8px #000;
}

div#quote_title{
  height:150px;
  width:60%;
  position:fixed;
  top:3200px;
  left:1%;
  z-index:10;
  display:flex;
}

div#simon_title{
  height:150px;
  width:60%;
  position:fixed;
  top:2800px;
  right:-2%;
  z-index:10;
  display:flex;
}

div#android_title{
  height:150px;
  width:60%;
  position:fixed;
  top:5700px;
  right:9%;
  z-index:10;
  display:flex;
}

div#certificate_title{
  height:150px;
  width:60%;
  position:fixed;
  top:6200px;
  left:1%;
  z-index:10;
  display:flex;
}

div#certificate2_title{
  height:150px;
  width:60%;
  position:fixed;
  top:2800px;
  right:-2%;
  z-index:10;
  display:flex;
}

div#design2_title{
  height:150px;
  width:60%;
  position:fixed;
  top:5200px;
  left:1%;
  z-index:10;
  display:flex;
}

div#design1_title{
  height:150px;
  width:60%;
  position:fixed;
  top:4700px;
  right:-8%;
  z-index:10;
  display:flex;
}

div#ishop_title{
  height:150px;
  width:60%;
  position:fixed;
  top:4200px;
  left:1%;
  z-index:10;
  display:flex;
}

div#pikachu_title{
  height:150px;
  width:60%;
  position:fixed;
  top:3700px;
  right:-2%;
  z-index:10;
  display:flex;
}

div#ttt_title{
  height:150px;
  width:60%;
  position:fixed;
  top:2300px;
  left:7%;
  z-index:10;
  display:flex;
}

div#ttt{
  background-color:blue;
  background-image:url("../../assets/img/tictactoe.png");
  background-size:cover;
  height:275.3px;
  width:449.6px;
  position:fixed;
  top:2500px;
  right:5%;
  z-index:2;
  box-shadow:3px 3px 8px #000;
}

.title_heading{
  text-align:center;
  margin:auto;
  letter-spacing:.5px;
  font-family:'Open Sans Condensed';
  font-size:2.8vw;
  padding-right:100px;
}

div.contact{
  height:70vh;
  width:100%;
  background-color:#212121;
  background-image:url("../../assets/img/slider-background-1.jpg");
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

hr#sepretor{
  position:relative;
  height:2px;
  background-color:#4d4d4d;
  border:none;
  width:80%;
}

div.form{
  height:85%;
  width:70%;
  position:relative;
  left:15%;
  background:rgba(36,36,36,.7);
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  box-shadow:0px 0px 2px;
}

input#tf.form-control{
  width:50%;
  position:absolute;
}

input#email.form-control{
  width:50%;
  position:absolute;
  top:20%;
}

form#mySocial{
  position:absolute;
  top:15%;
  width:80%;
  left:10%;
}

form#mySocial{
  position:absolute;
  top:15%;
  width:80%;
  left:10%;
}

form#myform{
  position:absolute;
  top:15%;
  width:80%;
  left:10%;
}

input#ta.form-control{
  width:49%;
  height:80%;
  position:absolute;
  left:51%;
  top:0%;
}

#submit.form-control{
  width:50%;
  position:absolute;
  top:63%;
  font-family:'Patua One';
  font-size:1.2em;
  letter-spacing:1px;
  border:1px solid #000;
  border-radius:10px;
}

div#formBtn.form-group{
  position:relative;
  height:200px;
  top:-50%;
}

div#formInput.form-group{
  height:200px;
  position:relative;
  margin:0 auto;
}

textarea#ta.form-control{
  position:absolute;
  left:51%;
  width:50%;
  height:80%;
}

hr#sepretor2{
  position:absolute;
  height:2px;
  width:50%;
  background-color:#4d4d4d;
  border:none;
  top:29%;
}

div#mySocial{
  position:absolute;
  top:65%;
  width:81%;
  height:25%;
  left:10%;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

#gplus{
  height:50px;
  width:50px;
  border:2px solid #db4437;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  background-color:#db4437;
}

#lin{
  height:50px;
  width:50px;
  border:2px solid #0077b5;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  background-color:#0077b5;
}

#fcc{
  height:50px;
  width:50px;
  border:2px solid #006400;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  background-color:#006400;
}

div#fb{
  height:50px;
  width:50px;
  border:2px solid blue;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

#gt{
  height:50px;
  width:50px;
  border:2px solid black;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  background-color:#000;
}

#fb{
  height:50px;
  width:50px;
  border:2px solid #3b5998;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  background-color:#3b5998;
}

i.fa{
  font-size:2em;
}

i.fa.fa-github{
  font-size:3em;
  color:#fff;
  margin-right:1px;
}

i.fa.fa-facebook-f{
  color:#fff;
  margin-right:2px;
}

i.fa.fa-free-code-camp{
  color:#fff;
  margin-right:1px;
}

i.fa.fa-google-plus{
  color:#fff;
}

i.fa.fa-linkedin{
  color:#fff;
  margin-bottom:3px;
}

.social-icons:hover{
  transform:rotateZ(360deg);
  transition:all 1.5s ease;
  cursor:pointer;
  border:0px;
}

#submit:before{
  content:"Send";
  position:absolute;
  top:0;
  left:0;
  height:0;
  width:100%;
  background-color:rgba(33, 33, 33, 0.9);
  color:#fff;
  transition:all .5s ease;
  border-radius:5px;
  opacity:0;
  text-align:center;
  padding:1%;
  letter-spacing:2px;
}

#submit:hover:before{
  height:100%;
  opacity:1;
}

p#footer{
  text-align:center;
  color:#fff;
  font-family:'Patua One';
  letter-spacing:1px;
  font-size:1.3em;
  position:relative;
  bottom:3%;
}

i.fa.fa-copyright{
  font-size:1em;
}

p#mycontact{
  position:absolute;
  color:#fff;
  font-family:'Open Sans Condensed';
  font-size:1.1em;
  letter-spacing:1px;
  top:41.5%;
  left:10%;
}

p#myemail{
  position:absolute;
  color:#fff;
  font-family:'Open Sans Condensed';
  font-size:1.1em;
  letter-spacing:1px;
  top:36%;
  left:10%;
}

.layer{
  width:100%;
  height:540vh;
}

div.scroller{
  width:100%;
  height:100%;
}

div#layer2{
  position:fixed;
  background-image:url("../../assets/img/layer2.png");
  z-index:-10;
  background-repeat:round;
  width:100%;
  height:8000px;
  bottom:700px;
}

div#layer3{
  position:fixed;
  background-image:url("layer3.png");
  z-index:-1;
  background-repeat:repeat-y;
  width:100%;
  height:8000px;
  top:3000px;
}

div#layer1{
  position:fixed;
  background-image:url("../../assets/img/layer1.png");
  z-index:-3;
  background-repeat:round;
  width:100%;
  height:8000px;
  top:3000px;
}

ul#myNavTab{
  width:100%;
  display:flex;
  position:relative;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
}

li#homeTab.active{
  background-color:#fff;
}

li#aboutTab{
  position:absolute;
  left:25%;
  top:20px;
}

li#portfolioTab{
  position:absolute;
  right:25%;
  top:20px;
}

li#contactTab{
  position:absolute;
  right:10%;
  top:20px;
}

li#logoTab{
  position:absolute;
  left:44%;
}

#myLogo{
  background-image:url("../../assets/img/myLogo1.svg");
  background-repeat:no-repeat;
  height:150px;
  width:150px;
  position:fixed;
  left:44%;
  top:10px;
  transition:all .6s ease;
}

li#homeTab{
  position:absolute;
  top:20px;
  left:10%;
}

a#home{
  color:#fff;
  font-family:'Open Sans Condensed';
  font-size:1.7vw;
}

a#about{
  color:#fff;
  font-family:'Open Sans Condensed';
  font-size:1.7vw;
}

a#about:hover{
  color:#1976D2;
}

a#home:hover{
  color:#1976D2;
}

a#portfolio{
  color:#fff;
  font-family:'Open Sans Condensed';
  font-size:1.7vw;
}

a#portfolio:hover{
  color:#1976D2;
}

a#contact{
  color:#fff;
  font-family:'Open Sans Condensed';
  font-size:1.7vw;
}

a#contact:hover{
  color:#1976D2;
}

a.link, a.visited{
  text-decoration:none;
}

a:link, a:visited{
  text-decoration:none;
  padding:15px;
  display:inline-block;
  text-align:center;
}

a:hover{
  color:#1976D2;
  border-bottom:2px solid #fff;
}

li{
  list-style:none;
}

div#port_back{
  height:100%;
  width:100%;
  background-color:#efefef;
}

h1#about_content{
  color:#000;
  text-align:center;
  font-family:'Open Sans Condensed';
  font-size:3em;
}

div#content_box{
  height:80%;
  width:100%;
  top:11%;
  position:relative;
  opacity:0;
  background-image:url("../../assets/img/java-logo-vector.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size:20%;
  transition:all .5s ease;
}

.portLink{
  width:100%;
  height:100%;
}

.portLink:hover{
  border:0px;
  cursor:pointer;
}

